<%- include('../templates/head') %>

<%- include('auth-header') %>


<div class="container auth-content" id="login">
    <div id="full-panel">
        <img class="md-logo" src="images/raison-black-logo-with-text.svg" alt="Raison">
        <h1>Forgot your password?</h1>
        <p>Recover your password with your email address.</p>

        <div class="mdc-form-control form-element">
            <div class="mdc-text-field">
                <input type="email" required id="email" class="mdc-text-field__input">
                <label class="mdc-floating-label" for="email">Email</label>
                <div class="mdc-line-ripple"></div>
            </div>
            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">Valid email is required.</p>
        </div>

        <div class="form-element">
            <div id="capcha"></div>
        </div>

        <div class="form-element">
            <a href="/email-confirm" class="mdc-button mdc-button--raised">Send Email</a>
        </div>
    </div>
</div>

<%- include('../components/footer') %>
<%- include('auth-footer') %>
<%- include('../templates/foot') %>