<%- include('../templates/head') %>
<%- include('../components/navbar', {theme: "dark", section:
{name: user_profile.role, url: user_profile.role.toLowerCase()}, state: user_profile.role})
%>

<div class="container">
    <div class="individual-profile-body">
        <div class="profile-header profile-picture">
            <img src="<%= profile_image %>" alt="<%= user_profile.name %>">
        </div>
        <div class="profile-header profile-name">
            <div class="name"> <%= user_profile.name %></div>
            <div class="tagline">Joined on 1 January 1970</div>
        </div>
        <div class="profile-header profile-action">
            <span class="mdc-icon-toggle" data-mdc-auto-init="MDCIconToggle"><i class="mdi mdi-send"></i></span>
        </div>
        <div class="sections">
            <section>
                <h1>About me</h1>
                <p> <%= user_profile.bio %></p>
            </section>
            <section>
                <h1>Recent activities</h1>
                <ul class="activity-list">
                    <li>
                        <div class="time">12 hours ago</div>
                        <div class="content">Created project <a href="#!">Lorem ipsum dolor sit amet</a>.</div>
                    </li>
                    <li>
                        <div class="time">2 days ago</div>
                        <div class="content">Created project <a href="#!">Lorem ipsum dolor sit amet</a>.</div>
                    </li>
                    <li>
                        <div class="time">10 days ago</div>
                        <div class="content">Created project <a href="#!">Lorem ipsum dolor sit amet</a>.</div>
                    </li>
                    <li>
                        <div class="time">2 months ago</div>
                        <div class="content">Project <a href="#!">Consecutrer amet rectulus</a> is funded by <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" alt="logo" class="inline-logo"> <a href="/investors/wikimedia-foundation/1">Wikimedia Foundation</a>.</div>
                    </li>
                    <li>
                        <div class="time">20 April 2016</div>
                        <div class="content">Project <a href="#!">Consecutrer amet rectulus</a> is funded by <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" alt="logo" class="inline-logo"> <a href="/investors/wikimedia-foundation/1">Wikimedia Foundation</a>.</div>
                    </li>
                </ul>
            </section>
            <section>
                <h1>Initiated projects</h1>
                <%- include('../components/detail-card', {
                image: "https://picsum.photos/300",
                title: "Aenean lacinia id metu",
                summary: "Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl. Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl.",
                author: {
                name: "Lauren Arnold",
                avatar: "https://picsum.photos/100"
                },
                url: "/startups/information-technologies-web-project/1"
                }) %>
                <%- include('../components/detail-card', {
                image: "https://picsum.photos/300",
                title: "Aenean lacinia id metu",
                summary: "Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl. Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl.",
                author: {
                name: "Lauren Arnold",
                avatar: "https://picsum.photos/100"
                },
                url: "/startups/information-technologies-web-project/1"
                }) %>
                <%- include('../components/detail-card', {
                image: "https://picsum.photos/300",
                title: "Aenean lacinia id metu",
                summary: "Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl. Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl.",
                author: {
                name: "Lauren Arnold",
                avatar: "https://picsum.photos/100"
                },
                url: "/startups/information-technologies-web-project/1"
                }) %>
                <%- include('../components/detail-card', {
                image: "https://picsum.photos/300",
                title: "Aenean lacinia id metu",
                summary: "Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl. Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl.",
                author: {
                name: "Lauren Arnold",
                avatar: "https://picsum.photos/100"
                },
                url: "/startups/information-technologies-web-project/1"
                }) %>
            </section>
        </div>
    </div>
</div>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>