<%- include('../templates/head') %>
<%- include('navbar') %>

<div class="dashboard-content container">
    <%- include('nav-aside', {path: 'dashboard'}) %>
    <div class="content">
        <div class="numbers">
            <div class="number-card mdc-card" id="projects">
                <a href="/dashboard/projects" class="mdc-card__primary-action">
                    <div class="number"><%= user.projects.length %></div>
                    <div class="name">Projects</div>
                </a>
            </div>
            <div class="number-card mdc-card" id="feeds">
                <div class="number">42</div>
                <div class="name">Feeds</div>
            </div>
            <div class="number-card mdc-card" id="likes">
                <div class="number">233</div>
                <div class="name">Likes</div>
            </div>
        </div>
        <section>
            <h1>Recent activities</h1>
            <ul class="recent-activities">
                <% for (var i = 0; i < user.activity.length; i++) {%>
                <li>
                    <img src="<%= user.image %>" class="avatar"
                         alt="Person Name">
                    <a href="<%= user.activity[i].link %>">
                        <%= user.activity[i].content %>
                    </a>
                    - <%= user.activity[i].time.toDateString()%>
                </li>
                <% } %>
            </ul>
        </section>
    </div>
</div>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>