<%- include('../templates/head') %>
<%- include('navbar') %>

<div class="dashboard-content container">
    <%- include('nav-aside', {path: 'inbox'}) %>
    <div class="content">
        <section>
            <div class="title-row">
                <h1>Threads</h1>
                <a href="/dashboard/inbox/new" class="mdc-button mdc-button--raised">New thraed</a>
            </div>
            <ul class="thread-list mdc-list mdc-list--two-line mdc-list--avatar-list">
                <li class="mdc-list-item">
                    <img src="https://randomuser.me/api/portraits/men/21.jpg" alt="avatar" class="mdc-list-item__graphic"></img>
                    <span class="mdc-list-item__text">
                        <span class="mdc-list-item__secondary-text">
                            <span class="name">Anderson Quarista</span> <span class="time">2 hours ago</span>
                        </span>    
                        Queries regarding your project Lorem ipusm dolor sit amet
                    </span>
                </li>
                <li class="mdc-list-item">
                    <img src="https://randomuser.me/api/portraits/men/21.jpg" alt="avatar" class="mdc-list-item__graphic"></img>
                    <span class="mdc-list-item__text">
                        <span class="mdc-list-item__secondary-text">
                            <span class="name">Anderson Quarista</span> <span class="time">4 weeks ago</span>
                        </span>    
                        Queries regarding your project Lorem ipusm dolor sit amet
                    </span>
                </li>
                <li class="mdc-list-item">
                    <img src="https://randomuser.me/api/portraits/men/21.jpg" alt="avatar" class="mdc-list-item__graphic"></img>
                    <span class="mdc-list-item__text">
                        <span class="mdc-list-item__secondary-text">
                            <span class="name">Anderson Quarista</span> <span class="time">1 January 1970</span>
                        </span>    
                        Queries regarding your project Lorem ipusm dolor sit amet
                    </span>
                </li>
            </ul>
        </section>
    </div>
</div>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>