<aside>
    <a href="/dashboard/dashboard" class="mdc-button<%= path == 'dashboard' ? ' active' : '' %>">Dashboard</a>
    <a href="/dashboard/inbox" class="mdc-button<%= path == 'inbox' ? ' active' : '' %>">Inbox</a>
    <a href="/dashboard/profile" class="mdc-button<%= path == 'profile' ? ' active' : '' %>">Profile</a>
    <a href="/dashboard/projects" class="mdc-button<%= path == 'projects' ? ' active' : '' %>">Projects</a>
    <a href="/dashboard/security" class="mdc-button<%= path == 'security' ? ' active' : '' %>">Security</a>

</aside>