<%- include('../templates/head') %>
<%- include('navbar') %>

<% 
const acceptStatus = {
    0: {
        class: "",
        text: "Pending"
    },
    1: {
        class: " accepted",
        text: "Accepted"
    },
    2: {
        class: " not-accepted",
        text: "Not accepted"
    }
}
%>

<div class="dashboard-content container">
    <%- include('nav-aside', {path: 'offers-made'}) %>
    <div class="content">
        <section>
            <div class="title-row">
                <h1>Offers Made  </h1>
            </div>
            <% if (offers.length === 0) { %>
            <div class="no-item">No offer here yet.</div>
            <% } %>

            <% for (var i = 0; i < offers.length; i++) { %>
            <details class="mdc-card offer-card<%= acceptStatus[offers[i].accepted].class %>
                ">
                <summary>
                    <a href="/startups/<%= offers[i].projectId%>" style="text-decoration: none; color: inherit" class="info">
                        <div class="time"> <%= TimeAgo.format(offers[i].dateOffered) %></div>
                        <div class="investor-name">
                                <%= offers[i].projectTitle%>
                        </div>
                    </a>
                    <% const offerRep = numeral(offers[i].fundOffer).format('$ 0.0 a').split(' '); %>
                    <div class="value"><span class="unit">$</span><%= offerRep[1] %><span class="unit"><%= offerRep[2] %></span></div>
                    <% if (offers[i].type === "Investment") {%>
                        <button disabled class="mdc-button">
                            <%= acceptStatus[offers[i].accepted].text %>
                        </button>
                    <% } %>
                </summary>
                <div class="details article-content">
                    <%- offers[i].proposal %>

                </div>
            </details>
            <% } %>
        </section>
    </div>
</div>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>