<%- include('../templates/head') %>
<%- include('navbar') %>

<div class="dashboard-content container">
    <%- include('nav-aside', {path: 'profile'}) %>
    <div class="content">
        <form method="post" action="/dashboard/profile">
            <div class="title-row">
                <h1>My profile</h1>
            </div>
            <div class="mdc-typography--headline">Profile picture</div>
            <div class="avatar-row">
                <img src="<%= user.image %>" alt="John Doe" class="user-avatar">
                <a href="https://gravatar.com" class="mdc-button mdc-button--raised">Change profile picture</a>
            </div>

            <div class="mdc-form-control form-element">
                <div class="mdc-text-field">
                    <input type="text" required id="display_name" value="<%= user.name %>"
                           class="mdc-text-field__input" name="displayname">
                    <label class="mdc-floating-label" for="display_name">Display Name</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                </p>
            </div>
            <div class="mdc-form-control form-element">
                <div class="mdc-text-field">
                    <input type="date" id="date_of_birth" value="1960-01-01" class="mdc-text-field__input">
                    <label class="mdc-floating-label mdc-floating-label--float-above" for="date_of_birth">Date of
                        Birth</label>
                    <div class="mdc-line-ripple"></div>
                </div>
            </div>
            <div class="mdc-form-control form-element">
                <div class="mdc-text-field">
                    <input type="text" required id="bio"
                           value= "<%= user.bio %>"
                           class="mdc-text-field__input"
                            name="bio"
                            maxlength="50">
                    <label class="mdc-floating-label" for="bio">Bio</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                </p>
            </div>

            <div class="mdc-form-control form-element">
                <div class="mdc-select">
                    <select class="mdc-select__native-control" name="role">
                        <option value="Startup"
                                <% if (user.role == "Startup") { %>
                                selected
                                <% } %>
                        >Startup
                        </option>
                        <option value="Investor"
                                <% if (user.role == "Investor") { %>
                                selected
                                <% } %>
                        >Investor
                        </option>
                        <option value="Donator"
                                <% if (user.role == "Donator") { %> selected <% } %>>Donator</option>
                        <option value="Charity"
                                <% if (user.role == "Charity") { %> selected <% } %>>Charity</option>
                    </select>
                    <div class="mdc-select__label mdc-select__label--float-above">I'm signing up as a(n)...</div>
                    <div class="mdc-select__bottom-line"></div>
                </div>
            </div>
            <button type="submit" class="mdc-button mdc-button--raised submit-button">Save changes</button>

        </form>
    </div>
</div>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>