<%- include('../templates/head') %>
<%- include('navbar') %>


<% if (!(project && project.location)) {%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxoRJ-J409lbgy5pxY_3EQHfbhW0ArydM"
        type="text/javascript"></script>
<script>

    $(document).ready(function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
        } else {
            alert('It seems like Geolocation, which is required for this page, is not enabled in your browser. Please use a browser which supports it.');
            document.getElementById("location-container").style.display = "none";
        }
    });

    function successFunction(position) {
        document.getElementById("location-label").className += " mdc-floating-label--float-above";
        var geocoder;
        geocoder = new google.maps.Geocoder();
        var lat = position.coords.latitude;
        var long = position.coords.longitude;
        var latlng = new google.maps.LatLng(lat, long);
        geocoder.geocode(
            {'latLng': latlng},
            function(results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        var add= results[0].formatted_address ;
                        var  value=add.split(",");

                        var count=value.length;
                        var country=value[count-1];

                        document.getElementById("location").value = country;
                    }
                    else  {
                        alert("failure to get your location");
                        document.getElementById("location").value = null;
                        document.getElementById("location-container").style.display = "none";
                    }
                }
                else {
                    alert("failure to get your location");
                    document.getElementById("location").value = null;
                    document.getElementById("location-container").style.display = "none";
                }
            }
        );



    }

    function errorFunction(position) {
        alert("There is an error in locating your position!");
        document.getElementById("location").value = null;
        document.getElementById("location-container").style.display = "none";
    }

</script>
<% } %>


<div class="dashboard-content container">
    <%- include('nav-aside', {path: 'projects'}) %>
    <div class="content">
        <section class="project-editor">
            <a href="/dashboard/projects" class="mdc-button">
                <i class="mdc-button__icon mdi mdi-chevron-left"></i> Back to projects
            </a>
            <div class="title-row">
                <% if (locals.project) { %>
                <h1>Edit project</h1>
                <% } else { %>
                <h1>New project</h1>
                <% } %>
            </div>
            <form action="?" method="post">
                <div class="mdc-form-control form-element">
                    <div class="mdc-text-field large-text-field<%= (locals.error && locals.error['project-title'] && ' mdc-text-field--invalid') || '' %>">
                        <input required type="text" id="project-title"
                               value="<%= (locals.userInput && locals.userInput.title) || (locals.project && locals.project.title) %>"
                               name="project-title" class="mdc-text-field__input">
                        <label class="mdc-floating-label" for="project-title">Project title</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                        <%= (locals.error && locals.error['project-title'] && locals.error['project-title'].msg) || '' %>
                    </p>
                </div>
                <div class="form-element">
                    <div class="mdc-text-field chip-text-field<%= (locals.error && locals.error['project-tags'] && ' mdc-text-field--invalid') || '' %>">
                        <input required type="text" id="project-tags"
                               value="<%= (locals.userInput && locals.userInput.tags) || (locals.project && project.categories.slice(1,).join()) %>"
                               name="project-tags">
                        <label class="mdc-floating-label" for="project-tags">Tags</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                        <%= (locals.error && locals.error['project-tags'] && locals.error['project-tags'].msg) || '' %>
                    </p>
                </div>



                <div class="mdc-form-control form-element" id="location-container">
                    <div
                            class="mdc-text-field chip-text-field <%= (locals.error && locals.error['project-tags'] && ' mdc-text-field--invalid') || '' %>">
                        <input required type="text" id="location"
                               value="<%= (project && project.location)%>"
                               name="location" class="mdc-text-field__input">
                        <label class="mdc-floating-label" for="project-title" id="location-label"> Location </label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                        <%= (locals.error && locals.error['project-title'] && locals.error['project-title'].msg) || '' %>
                    </p>
                </div>



                <div class="mdc-form-control form-element">
                    <div class="mdc-text-field<%= (locals.error && locals.error['banner-url'] && ' mdc-text-field--invalid') || '' %>">
                        <input required type="url" id="banner-url" class="mdc-text-field__input"
                               aria-controls="banner-url-helper-text"
                               aria-describedby="banner-url-helper-text"
                               value="<%= (locals.userInput && locals.userInput.banner) || (locals.project && locals.project.banner) %>"
                               name="banner-url">
                        <label class="mdc-floating-label" for="banner-url">Banner Image URL</label>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg"
                       id="banner-url-helper-text">
                        <%= (locals.error && locals.error['banner-image'] && locals.error['banner-image'].msg) || '' %>
                        We recommend you to upload images through public image hosting services such as <a href="https://imgur.com">imgur</a>.
                    </p>
                </div>
                <div id="banner-preview">
                </div>

                <textarea id="bodyContent" class="article-content" required

                          name="body-content">
                    <%- (locals.userInput && locals.userInput['body-content']) || (project && project.desc) %></textarea>


                <button type="submit" class="mdc-button mdc-button--raised">Publish</button>
            </form>
        </section>
    </div>
</div>

<datalist id="tags-list">
    <option value="science">Science</option>
    <option value="economy">Economy</option>
    <option value="agriculture">Agriculture</option>
    <option value="it">IT</option>
    <option value="computing">Computing</option>
    <option value="military">Military</option>
    <option value="food">Food</option>
    <option value="sports">Sports</option>
</datalist>

<%- include('../components/snackbar') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.js"></script>
<script src="/javascripts/taginput.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-lite.js"></script>
<script>

    $(document).ready(function() {
        $("#banner-preview").css("background-image", `url('${$("#banner-url").val()}')`);
    });

    $("#banner-url").change(() => {
        $("#banner-preview").css("background-image", `url('${$("#banner-url").val()}')`);
    });

    var mdcTagInput = function (el) {
        var tagsInput = $(el).children("input");
        tagsInput.tagsinput({
            tagClass: "mdc-chip",
            datalist: "tags-list",
        });
        var label = el.querySelector("label.mdc-floating-label");
        var mdcTF = new mdc.textField.MDCTextField(el);
        mdcTF.foundation_.getNativeInput_().validity = {badInput: false, isValid: true};
        var input = el.querySelector(".bootstrap-tagsinput input");
        if (tagsInput.val().length) {
            mdcTF.getLabelAdapterMethods_().floatLabel(true);
        }
        $(input).on({
            focusin: function () {
                mdcTF.getLabelAdapterMethods_().floatLabel(true);
                mdcTF.getLineRippleAdapterMethods_().activateLineRipple()
            },
            focusout: function () {
                mdcTF.getLineRippleAdapterMethods_().deactivateLineRipple()
                if (!tagsInput.tagsinput('items').length) {
                    mdcTF.getLabelAdapterMethods_().floatLabel(false);
                }
            }
        });
    }

    $(function() {
        mdcTagInput(document.querySelector(".chip-text-field"));
        $("#bodyContent").summernote({
            placeholder: "A detailed description of your project.",
            toolbar: [
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['level', ['style']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['insert', ['picture', 'link', 'table', 'hr']]
            ],
            styleTags: ['p', 'blockquote', 'pre', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6'],
            height: 300,
        });
    });

    <% if (locals.message) { %>
    snackbar.show({
        message: "<%= locals.message %>",
        actionText: "Dismiss",
        actionHandler: () => {}
    });
    <% } %>
</script>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>