<%- include('../templates/head') %>
<%- include('navbar') %>

<div class="dashboard-content container">
    <%- include('nav-aside', {path: 'security'}) %>
    <div class="content">
        <section>
            <div class="title-row">
                <h1>Security</h1>
            </div>

            <div class="mdc-typography--headline">Change Email</div>

            <div class="mdc-form-control form-element">
                <div class="mdc-text-field">
                    <input type="email" required id="email" value="JohnDoe@example.com" class="mdc-text-field__input">
                    <label class="mdc-floating-label" for="email">Email</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                </p>
            </div>

            <div class="mdc-typography--headline">Change password</div>

            <div class="mdc-form-control form-element">
                <div class="mdc-text-field">
                    <input type="password" required id="old_password" class="mdc-text-field__input" minlength="6">
                    <label class="mdc-floating-label" for="old_password">Old password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg mdc-text-field-helper-text--persistent" aria-hidden="true">
                    Password must be 6 characters or longer.
                </p>
            </div>

            <div class="mdc-form-control form-element">
                <div class="mdc-text-field">
                    <input type="password" required id="password" class="mdc-text-field__input" minlength="6">
                    <label class="mdc-floating-label" for="password">New password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg mdc-text-field-helper-text--persistent" aria-hidden="true">
                    Password must be 6 characters or longer.
                </p>
            </div>

            <div class="mdc-form-control form-element">
                <div class="mdc-text-field">
                    <input type="password" required id="confirm_password" class="mdc-text-field__input">
                    <label class="mdc-floating-label" for="confirm_password" minlength="6">Confirm password</label>
                    <div class="mdc-line-ripple"></div>
                </div>
                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--validation-msg" aria-hidden="true">
                </p>
            </div>

            <a href="#!" class="mdc-button mdc-button--raised submit-button">Save changes</a>

            <div class="mdc-typography--headline">Remove account</div>
            <p class="warning-line">Warning: This action CANNOT be undone.</p>

            <a href="#!" class="mdc-button mdc-button--raised submit-button warning-button" id="remove-account-action-btn">Remove account</a>

        </section>
    </div>
</div>

<aside id="remove-account-confirm"
  class="mdc-dialog"
  role="alertdialog"
  aria-labelledby="remove-account-confirm-label"
  aria-describedby="remove-account-confirm-description">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="remove-account-confirm-label" class="mdc-dialog__header__title">Remove your account?</h2>
    </header>
    <section id="remove-account-confirm-description" class="mdc-dialog__body">
      This will remove your account permanently, and CANNOT be undone.
    </section>
    <div class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept warning-light-button">Remove</button>
    </div>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>

<aside id="remove-account-refuse"
  class="mdc-dialog"
  role="alertdialog"
  aria-labelledby="remove-account-refuse-label"
  aria-describedby="remove-account-refuse-description">
  <div class="mdc-dialog__surface">
    <header class="mdc-dialog__header">
      <h2 id="remove-account-refuse-label" class="mdc-dialog__header__title">Failed to remove account</h2>
    </header>
    <section id="remove-account-refuse-description" class="mdc-dialog__body">
        <p>I guess you must have been spammed by so many TOS changes for GDPR, aren't you?</p>
        <p>Well, here you are, a site that won't be used in Europe (at least in the foreseeable future), and so no worry about GDPR. Yay!</p>
        <p>And that means... No, we're not going to remove your account, simply because our backend coder is to lazy to do so.</p>
        <p>If you find this easter egg interesting, give us higher mark plz. :D</p>
        <p>— Love, <s>Raisin</s> Raison</p>
    </section>
    <div class="mdc-dialog__footer">
      <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Well, OK.</button>
    </div>
  </div>
  <div class="mdc-dialog__backdrop"></div>
</aside>

<script>
var removeAccountWarning = new mdc.dialog.MDCDialog(document.querySelector('#remove-account-confirm'));
var removeAccountRefuse = new mdc.dialog.MDCDialog(document.querySelector('#remove-account-refuse'));

removeAccountWarning.listen('MDCDialog:accept', function() {
  removeAccountRefuse.show();
});

document.querySelector('#remove-account-action-btn').addEventListener('click', function (evt) {
  removeAccountWarning.lastFocusedTarget = evt.target;
  removeAccountWarning.show();
});
</script>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>