<div class="author-card mdc-card">
    <a href="<%= locals.url || '#!' %>" class="mdc-card__primary-action">
        <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url('<%= banner %>')"></div>
        <div class="author-card-content">
            <img class="author-card-profile-picture" src="<%= author.image %>" alt="<%= author.name %>">
            <div class="author-card-text">
                <div class="mdc-typography-overflow-ellipsis"><%= title %></div>
                <div class="mdc-list-item__secondary-text mdc-typography-overflow-ellipsis"><%= author.name %></div>
            </div>
        </div>
    </a>
</div>