<div class="comments-list">
    <% for (var i =0; i < comments.length; i++) {%>
    <div class="comment-section">
        <div class="commenter">
            <img src="<%= comments[i].author.image %>" alt="">
            <div class="commenter-text">
                <div class="comment-author"> <%= comments[i].author.name %></div>
                <div class="comment-time"> <%= timeAgo.format(comments[i].date) %></div>
            </div>
        </div>

        <div class="comment-body article-content" style="word-wrap: break-word">
            <%= comments[i].comment %>
        </div>
    </div>
    <% } %>

    <% if (user) {%>
    <div class="post-comment">
        <img src="<%= user.image %>" alt="<%= user.name %>" class="user-avatar">
        <form method = "POST" action="?" class="comment-form">
            <div class="mdc-text-field mdc-text-field--textarea">
                <textarea id="comment-body" name = "comment" class="mdc-text-field__input" rows="8" cols="40"></textarea>
                <label for="comment-body" class="mdc-floating-label">Leave some words...</label>
            </div>
            <input type="submit" class="mdc-button mdc-button--raised" value="Comment">
        </form>
    </div>
    <% } %>
</div>