<%- include('../templates/head') %>
<div class="landing-banner">
    <%- include('../components/navbar', {theme: "light"}) %>
    <div class="container">
        <div class="landing-banner-body">
            <h1>Connecting Investors, Startups, Donators &amp; Charities.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra feugiat ullamcorper. Aenean lacinia id metus pellentesque ullamcorper.</p>

            <% if (!locals.user) {%>
            <div class="call-to-action">
                <a href="/signup" class="mdc-button mdc-button--raised">Sign up for free</a>
            </div>
            <% } %>
        </div>
    </div>
</div>

<div class="container">
    <div class="landing-body">
        <section id="popular-ideas">
            <div class="section-title">
                <h1>Popular ideas</h1>
                <a href="#!" class="mdc-button">More</a>
            </div>

            <%# Loop card starts. %>
            <% for (var i = 1; i < projects.length; i++) {%>
            <% project = projects[i] %>
            <%- include('../components/author-card', {
                banner: project.content.banner,
                author: project.author,
                title: project.content.title,
                url: `interaction/${project.content._id}`
            }) %>
            <% } %>

        </section>
        <section id="highlights">
            <div class="section-title">
                <h1>Highlights</h1>
                <a href="#!" class="mdc-button">More</a>
            </div>
            <% project = projects[0] %>
            <%- include('../components/author-card', {
                banner: project.content.banner,
                author: project.author,
                title: project.content.title,
                url: `interaction/${project.content._id}`
            }) %>

        </section>
        <section id="top-donators">
            <div class="section-title">
                <h1>Top donators</h1>
                <a href="#!" class="mdc-button">More</a>
            </div>

            <div class="top-donators-list">
                <ol class="mdc-list mdc-list--avatar-list">
                    <% for (var i = 0; i < donators.length; i++){%>

                    <a href="profile/<%= donators[i].authentication.username %>" style="text-decoration: none; color: inherit">
                        <li class="mdc-list-item" style="cursor: pointer">
                            <div class="mdc-list-item__graphic"></div>
                            <div class="mdc-list-item__text">
                                <%= donators[i].name %>
                                <span class="mdc-list-item__secondary-text">
                                <%= donators[i].bio %>
                            </span>
                            </div>
                        </li>
                    </a>

                    <% } %>

                </ol>
            </div>
        </section>
    </div>
</div>

<div class="landing-lower-banner" style="background-image: url('https://picsum.photos/1200x600?image=26')">
    <div class="container">
        <h2>Join us to<br>improve the society</h2>
        <div class="call-to-action">
            <a href="/signup" class="mdc-button mdc-button--raised">Sign up for free</a>
        </div>
    </div>
</div>
<%- include('../components/footer') %>
<%- include('../templates/foot') %>