<%- include('../templates/head') %>
<div class="landing-banner">
    <%- include('../components/navbar', {theme: "light"}) %>
    <div class="container">
        <div class="landing-banner-body">
            <h1>Connecting Investors, Startups, Donators &amp; Charities.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pharetra feugiat ullamcorper. Aenean lacinia id metus pellentesque ullamcorper.</p>
            <div class="call-to-action">
                <a href="/signup" class="mdc-button mdc-button--raised">Sign up for free</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="landing-body">
        <section id="popular-ideas">
            <div class="section-title">
                <h1>Popular ideas</h1>
                <a href="#!" class="mdc-button">More</a>
            </div>

            <%# Loop card starts. %>
            <%- include('../components/author-card', {
                image: "https://picsum.photos/300",
                title: "Aenean lacinia id metu",
                author: {
                    name: "Lauren Arnold",
                    avatar: "https://picsum.photos/100"
                }
            }) %>
            <%# Loop card ends. %>

            <%- include('../components/author-card', {
                image: "https://picsum.photos/300?image=100",
                title: "Aenean lacinia id metu",
                author: {
                    name: "Lauren Arnold",
                    avatar: "https://picsum.photos/100?image=200"
                }
            }) %>

            <%- include('../components/author-card', {
                image: "https://picsum.photos/300?image=301",
                title: "Aenean lacinia id metu",
                author: {
                    name: "Lauren Arnold",
                    avatar: "https://picsum.photos/100?image=400"
                }
            }) %>

            <%- include('../components/author-card', {
                image: "https://picsum.photos/300?image=500",
                title: "Aenean lacinia id metu",
                author: {
                    name: "Lauren Arnold",
                    avatar: "https://picsum.photos/100?image=600"
                }
            }) %>
        </section>
        <section id="highlights">
            <div class="section-title">
                <h1>Highlights</h1>
                <a href="#!" class="mdc-button">More</a>
            </div>
             <%- include('../components/author-card', {
                image: "https://picsum.photos/600",
                title: "Aenean lacinia id metu",
                author: {
                    name: "Lauren Arnold",
                    avatar: "https://picsum.photos/100"
                }
            }) %>

        </section>
        <section id="top-donators">
            <div class="section-title">
                <h1>Top donators</h1>
                <a href="#!" class="mdc-button">More</a>
            </div>

            <div class="top-donators-list">
                <ol class="mdc-list mdc-list--avatar-list">
                    <li class="mdc-list-item">
                        <div class="mdc-list-item__graphic"></div>
                        <div class="mdc-list-item__text">
                            Lorem Ipsum
                            <span class="mdc-list-item__secondary-text">Dolor sit amet</span>
                        </div>
                    </li>
                    <li class="mdc-list-item">
                        <div class="mdc-list-item__graphic"></div>
                        <div class="mdc-list-item__text">
                            Lorem Ipsum
                            <span class="mdc-list-item__secondary-text">Dolor sit amet</span>
                        </div>
                    </li>
                    <li class="mdc-list-item">
                        <div class="mdc-list-item__graphic"></div>
                        <div class="mdc-list-item__text">
                            Lorem Ipsum
                            <span class="mdc-list-item__secondary-text">Dolor sit amet</span>
                        </div>
                    </li>
                    <li class="mdc-list-item">
                        <div class="mdc-list-item__graphic"></div>
                        <div class="mdc-list-item__text">
                            Lorem Ipsum
                            <span class="mdc-list-item__secondary-text">Dolor sit amet</span>
                        </div>
                    </li>
                    <li class="mdc-list-item">
                        <div class="mdc-list-item__graphic"></div>
                        <div class="mdc-list-item__text">
                            Lorem Ipsum
                            <span class="mdc-list-item__secondary-text">Dolor sit amet</span>
                        </div>
                    </li>
                    <li class="mdc-list-item">
                        <div class="mdc-list-item__graphic"></div>
                        <div class="mdc-list-item__text">
                            Lorem Ipsum
                            <span class="mdc-list-item__secondary-text">Dolor sit amet</span>
                        </div>
                    </li>
                    <li class="mdc-list-item">
                        <div class="mdc-list-item__graphic"></div>
                        <div class="mdc-list-item__text">
                            Lorem Ipsum
                            <span class="mdc-list-item__secondary-text">Dolor sit amet</span>
                        </div>
                    </li>
                    <li class="mdc-list-item">
                        <div class="mdc-list-item__graphic"></div>
                        <div class="mdc-list-item__text">
                            Lorem Ipsum
                            <span class="mdc-list-item__secondary-text">Dolor sit amet</span>
                        </div>
                    </li>
                </ol>
            </div>
        </section>
        <section id="participating-investors">
            <div class="section-title">
                <h1>Participating investors</h1>
                <a href="#!" class="mdc-button">More</a>
            </div>

            <ul class="participating-investors-list">
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
                <li><img src="https://placeholdit.co/i/200x100" alt="Company"></li>
            </ul>
        </section>
    </div>
</div>

<div class="landing-lower-banner" style="background-image: url('https://picsum.photos/1200x600?image=26')">
    <div class="container">
        <h2>Join us for <br>semper gravida rhoncus</h2>
        <div class="call-to-action">
            <a href="/signup" class="mdc-button mdc-button--raised">Sign up for free</a>
        </div>
    </div>
</div>
<%- include('../components/footer') %>
<%- include('../templates/foot') %>