<%- include('../templates/head') %>
<% if (author.role === 'Startups' || author.role === 'Investors') { %>
<%- include('../components/navbar', {theme: "dark", section: {name: 'Investment', url: 'investment'}}) %>
<% } else { %>
<%- include('../components/navbar', {theme: "dark", section: {name: 'Donation', url: 'donation'}}) %>
<% } %>


<script>
    function makeOffer(typeOffer) {
        window.location = '/make_offer?projectId=<%= projects._id %>&title=<%= projects.title %>&type=' + typeOffer;
    }
</script>

<div id="startup-project-content" class="container">
    <div class="title">
        <h1><%= locals.projects.title %></h1>
    </div>

    <div class="author">
        <a href="/profile/<%= author.authentication.username %>">
            <img class='author-avatar' src="<%= author.image %>" alt="">
        </a>

        <div class="author-info"> <%= author.name %><br> <%= TimeAgo.format(projects.datePosted) %></div>
    </div>
    <div class="description article-content">
        <img class="featuring-image" width="100%" src="<%= projects.banner %>" alt="First slide">
        <%- projects.desc %>
    </div>


    <div class="information">
        <section class="information-section" id="investor-information">
            <div class="investor-information-entry">
                <div class="title">Status</div>
                <% if (projects.investor || projects.categories[0] === "Donation") { %>
                <div class="content">Implemented</div>
                <% } else { %>
                <div class="content"> Pending</div>
                <% } %>
            </div>
            <% if (projects.investor) { %>
            <div class="investor-information-entry">
                <div class="title">Invested By</div>
                <img src="<%= investorImage %>" style="border-radius: 50%" class="picture" alt="Company Logo">
                <div class="content"><a style="text-decoration: none"
                                        href="/profile/<%= investorUsername %>"> <%= investorName %></a></div>
            </div>
            <% } %>
            <div class="investor-information-entry">
                <div class="title">Total Funds</div>
                <div class="content">$ <%= projects.totalFunds %> </div>
            </div>
        </section>
        <section class="actions">
            <% if (!projects.investor && user && ((author.role === 'Startups' && user.role === 'Investors'))) { %>
            <% if (num_invest === 0) { %>
            <button class="mdc-button mdc-button--raised primary-action-button" onclick="makeOffer('Investment')">
                <i class="mdc-button__icon mdi mdi-star-outline"></i>
                Make an offer
            </button>
            <% } else { %>
            <button class="mdc-button mdc-button--raised primary-action-button">
                <i class="mdc-button__icon mdi mdi-star-outline"></i>
                You have made an offer for this project!
            </button>
            <% } %>

            <% } %>

            <% if (user && ((author.role === 'Charities' && user.role === 'Donators'))) { %>
            <% if (num_invest !== 0) { %>
            <button class="mdc-button mdc-button--raised primary-action-button">
                <i class="mdc-button__icon mdi mdi-star-outline"></i>
                You have made <%= num_invest %> donations for this project!
            </button>
            <button class="mdc-button mdc-button--raised primary-action-button" onclick="makeOffer('Donation')">
                <i class="mdc-button__icon mdi mdi-star-outline"></i>
                Donate more!
            </button>
            <% } else { %>
            <button class="mdc-button mdc-button--raised primary-action-button" onclick="makeOffer('Donation')">
                <i class="mdc-button__icon mdi mdi-star-outline"></i>
                Make a donation
            </button>
            <% } %>
            <% } %>
            <button class="mdc-button mdc-button--raised secondary-action-button">
                <i class="mdc-button__icon mdi mdi-message-reply-text"></i>
                Request contact details
            </button>
        </section>
        <section class="information-section">
            <h2>About the author</h2>
            <div class="mdc-typography--body1">
                <p>
                    <%= author.bio %>
                </p>
            </div>
        </section>
        <section class="information-section">
            <h2>Comments</h2>
            <%- include('../components/comments', {formAction: `/startups/${project.slug}/${project.id}/comment`}) %>
        </section>
    </div>
</div>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>