<%- include('../templates/head') %>
<%- include('../components/navbar', {theme: "dark", section: {name: "Investment", url: "/investment"}}) %>

<div class="container">
    <div id="startups-landing-body">
        <section id="highlights">
            <div class="section-title">
                <h1>Editors' picks</h1>
                <a href="#!" class="mdc-icon-toggle"><i class="mdi mdi-magnify"></i></a>
            </div>
            <div id="highlights-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#highlights-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#highlights-carousel" data-slide-to="1"></li>
                    <li data-target="#highlights-carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    <% for (var i = 0; i < topProject.length; i++) {%>
                    <div class="carousel-item<%= i == 0 ? ' active': '' %>">
                        <a href="/projects/<%= topProject[i].content.slug %>-<%= topProject[i].content._id %>" class="author-card-carousel mdc-ripple-surface">
                            <img class="d-block w-100" style="height: 500px" src="<%= topProject[i].content.banner %>" alt="First slide">
                            <div class="author-card-content">
                                <img class="author-card-profile-picture" src="<%= topProject[i].author.image %>" alt="Lauren Arnold">

                                <div class="author-card-text">
                                    <div class="title mdc-typography-overflow-ellipsis"><%= topProject[i].content.title %></div>
                                    <div class="author-name mdc-list-item__secondary-text mdc-typography-overflow-ellipsis">
                                        <%= topProject[i].author.name %>

                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>

                </div>
                <a class="carousel-control-prev" href="#highlights-carousel" role="button" data-slide="prev">
                    <i class="mdi mdi-chevron-left"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#highlights-carousel" role="button" data-slide="next">
                    <i class="mdi mdi-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </section>
        <section id="in-your-region">
            <div class="section-title">
                <h1>Top Startups</h1>
            </div>
            <% for (var i = 0; i < startups.length; i++) { %>
            <% tmp_user = startups[i] %>
            <%- include('../components/user-card', tmp_user) %>
            <% } %>

        </section>
        <section id="around-the-world">
            <div class="section-title">
                <h1>Top Investors</h1>
            </div>
            <% for (var i = 0; i < investors.length; i++) { %>
            <% tmp_user = investors[i] %>
            <%- include('../components/user-card', tmp_user) %>
            <% } %>

        </section>
        <section id="latest-ideas">
            <div class="section-title">
                <h1>Latest ideas</h1>
                <a href="#!" class="mdc-icon-toggle"><i class="mdi mdi-arrow-right"></i></a>
            </div>
            <% for (var i = 0; i < latestProject.length; i++) { %>
            <% project = latestProject[i] %>
            <%- include('../components/detail-card', {
            timeAgo: TimeAgo.format(project.content.datePosted),
            url: `/projects/${project.content.slug}-${project.content._id}`,
            banner: project.content.banner,
            title: project.content.title,
            author: project.author,
            summary: project.content.desc,
            comments: project.content.comments.length
            }) %>
            <% } %>
            <%# a href="#!" class="mdc-button">Show more</a %>
        </section>
    </div>
</div>
<%- include('../components/footer') %>
<%- include('../templates/foot') %>