<%- include('../templates/head') %>
<div class="investor-business-banner" style="background-image: url('https://images.unsplash.com/photo-1484036218807-91efe1baff2f?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=39fee8114312c255d49fcf1af945742a')">
    <div class="banner-nav-cover">
        <%- include('../components/navbar', {theme: "light", section: {name: "Investors", url: "/investors"}, state: "Investors", user: 1}) %>
    </div>
    <div class="information container">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Wikimedia-logo.svg" alt="Wikimedia Foundation" class="logo">
        <div class="text">
            <h1>Wikimedia Foundation</h1>
            <p>The Wikimedia Foundation, Inc. is a nonprofit charitable organization dedicated to encouraging the growth, development and distribution of free, multilingual, educational content, and to providing the full content of these wiki-based projects to the public free of charge.</p>
        </div>
    </div>
</div>
<div id="investor-business-content" class="container">
    <article>
        <section>
            <h2>About us</h2>
            <div class="article-content">
                <p>The Wikimedia Foundation, Inc. is a nonprofit charitable organization dedicated to encouraging the growth, development and distribution of free, multilingual, educational content, and to providing the full content of these wiki-based projects to the public free of charge. The Wikimedia Foundation operates some of the largest collaboratively edited reference projects in the world, including Wikipedia, a top-ten internet property.</p>

                <p>Imagine a world in which every single human being can freely share in the sum of all knowledge. That’s our commitment.</p>
            </div>
        </section>
        <section>
            <h2>Our vision</h2>
            <div class="article-content">
                <p>The Wikimedia Foundation is the nonprofit organization that supports Wikipedia, the other Wikimedia free knowledge websites, and its mission of free knowledge for all. We do this by keeping the Wikimedia sites fast, secure, and available to all, defending Wikipedia and our volunteer editors from legal threats, building new features and tools to make it easy to read, edit, and share knowledge from Wikimedia sites, and by supporting the communities of editors who contribute to Wikipedia and the Wikimedia sites. We also help bring new knowledge online, lower barriers to access, and make it easier for everyone to share what they know.</p>

                <p>The Wikimedia Foundation is a 501(c)(3) tax-exempt nonprofit organization with offices in San Francisco, California, USA.</p>
            </div>
        </section>
        <section>
            <h2>We are backing</h2>
            <%- include('../components/detail-card', {
                image: "https://picsum.photos/300",
                title: "Aenean lacinia id metu",
                summary: "Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl. Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl.",
                author: {
                    name: "Lauren Arnold",
                    avatar: "https://picsum.photos/100"
                },
                url: "/startups/information-technologies-web-project/1"
            }) %>
            <%- include('../components/detail-card', {
                image: "https://picsum.photos/300",
                title: "Aenean lacinia id metu",
                summary: "Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl. Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl.",
                author: {
                    name: "Lauren Arnold",
                    avatar: "https://picsum.photos/100"
                },
                url: "/startups/information-technologies-web-project/1"
            }) %>
            <%- include('../components/detail-card', {
                image: "https://picsum.photos/300",
                title: "Aenean lacinia id metu",
                summary: "Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl. Fusce iaculis dictum dolor id rhoncus. Mauris finibus a purus a mattis. Sed in nibh ullamcorper, luctus lectus non, maximus lorem. Nunc sed ipsum ligula. Mauris pharetra euismod augue non dictum. Vestibulum sed feugiat dui. Mauris a nisl.",
                author: {
                    name: "Lauren Arnold",
                    avatar: "https://picsum.photos/100"
                },
                url: "/startups/information-technologies-web-project/1"
            }) %>

        </section>
    </article>
    <aside>
        <button class="mdc-button mdc-button--raised primary-action-button">
            <i class="mdc-button__icon mdi mdi-star-outline"></i>
            Add to favorites
        </button>
        <button class="mdc-button mdc-button--raised secondary-action-button">
            <i class="mdc-button__icon mdi mdi-message-reply-text"></i>
            Request contact details
        </button>
        <dl>
            <dt>Website</dt>
            <dd>https://wikimediafoundation.org</dd>
            <dt>Size</dt>
            <dd>~ 280 contractors</dd>
            <dt>Page admin</dt>
            <dd>‎Christophe Henner</dd>
        </dl>
        <section>
            <h2>You might be interested in…</h2>
            <a href="#!" class="author-card-carousel mdc-ripple-surface">
                <img src="https://picsum.photos/600/300?pic=150" alt="Company name">
                <div class="author-card-content">
                    <div class="author-card-text">
                        <div class="title mdc-typography-overflow-ellipsis">Company name</div>
                        <div class="author-name mdc-list-item__secondary-text mdc-typography-overflow-ellipsis">Company tagline goes here</div>
                    </div>
                </div>
            </a>
            <a href="#!" class="author-card-carousel mdc-ripple-surface">
                <img src="https://picsum.photos/600/300?pic=250" alt="Company name">
                <div class="author-card-content">
                    <div class="author-card-text">
                        <div class="title mdc-typography-overflow-ellipsis">Company name</div>
                        <div class="author-name mdc-list-item__secondary-text mdc-typography-overflow-ellipsis">Company tagline goes here</div>
                    </div>
                </div>
            </a>
            <a href="#!" class="author-card-carousel mdc-ripple-surface">
                <img src="https://picsum.photos/600/300?pic=350" alt="Company name">
                <div class="author-card-content">
                    <div class="author-card-text">
                        <div class="title mdc-typography-overflow-ellipsis">Company name</div>
                        <div class="author-name mdc-list-item__secondary-text mdc-typography-overflow-ellipsis">Company tagline goes here</div>
                    </div>
                </div>
            </a>
        </section>
    </aside>
</div>

<%- include('../components/footer') %>
<%- include('../templates/foot') %>